<h1>Form 2</h1>
<div>
    <ol>
      <li>Hands in set position, feet together, bow to the front.</li>
      <li>Step out to the left into a bow stance, perform side fist punch to the front with right hand, left hand is in guard position at right elbow.</li>
      <br/>
      <li>Right leg drawn up to a cat stance (10% weight in right foot) at the same time the right hand performs a chin'nau to the front, left hand remains in guard position at right elbow (fingers pointing in at elbow).</li>
      <li>Left hand drawn back to set position, then right hand performs the first pun'que, the right leg steps out into a bow stance as the second pun'que finishes.</li>
      <li>Twist into a bow stance, perform side fist punch to the front with left hand, right hand is in guard position at left elbow.</li>
      <br/>
  Above pattern now repeats on the other side (described below in steps 6-8).<br/>
      <br/>
      <li>Left leg drawn up to a cat stance (10% weight in left foot) at the same time the left hand performs a chin'nau to the front, right hand remains in guard position at left elbow (fingers pointing in at elbow).</li>
      <li>Right hand drawn back to set position, then left hand performs the first pun'que, the left leg steps out into a bow stance as the second pun'que finishes.</li>
      <li>Twist into a bow stance, perform side fist punch to the front with right hand, left hand is in guard position at right elbow.</li>
      <br/>
  This starts the next chunk of the pattern which is later repeated on the opposite side.<br/>
      <br/>
      <li>Right hand performs chin'nau out to the right, feet make slight shift into a horse stance, left hand is in guard position at right elbow (fingers pointing in at elbow).</li>
      <li>Left hand drawn back to set position, then right hand performs the first pun'que, then as the second pun'que starts the right leg steps out to the right into a bow stance (so that it ends up in line with the left leg and 90 degrees from where it was).</li>
      <li>Left hand performs the third pun'que as the left leg steps back into a bow stance (so that it ends up in line with the right leg and 90 degrees from where it was), right hand gets drawn back into set position.</li>
      <li>Right hand performs a side fist punch and the feet make slight shift into a horse stance, left hand is in guard position at right elbow.</li>
      <li>Stepping out horse stance Chin'nau with left hand.</li>
      <li>Stepping out horse stance Bujuan with right hand.</li>
      <li>Cat stance pun'que with left hand.</li>
      <li>Horse stance leopard fist with right hand.</li>
      <br/>
      Above chunk repeats on the other side now with a slightly different ending (described below in steps 17-24).<br/>
      <br/>
      <li>Left hand performs chin'nau out to the left, feet make slight shift into a horse stance, right hand is in guard position at left elbow (fingers pointing in at elbow).</li>
      <li>Right hand drawn back to set position, then left hand performs the first pun'que, then as the second pun'que starts the left leg steps out to the left into a bow stance (so that it ends up in line with the rightt leg and 90 degrees from where it was).</li>
      <li>Right hand performs the third pun'que as the right leg steps back into a bow stance (so that it ends up in line with the left leg and 90 degrees from where it was), left hand gets drawn back into set position.</li>
      <li>Left hand performs a side fist punch and the feet make slight shift into a horse stance, right hand is in guard position at left elbow.</li>
      <li>Stepping out horse stance Chin'nau with right hand.</li>
      <li>Stepping out horse stance Bujuan with left hand.</li>
      <li>Cat stance pun'que with right hand.</li>
      <li>Horse stance tiger claw with left hand.</li>
      <br/>
      Now begins the final chunk of the form.<br/>
      <br/>
      <li>Chin'nau to the right with right hand, horse stance.</li>
      <li>Pun'que to the front with right hand, cat stance.</li>
      <li>Side fist punch to the front with left hand, cat stance.</li>
      <li>Drawing hands back (like a rainbow) winding up then stepping out to left into bow stance performing uppercut with right hand.</li>
      <br/>
      Repeat on other side.<br/>
      <br/>
      <li>Pun'que to the front with left hand, cat stance.</li>
      <li>Side fist punch to the front with right hand, cat stance.</li>
      <li>Drawing hands back (like a rainbow) winding up then stepping out to right into bow stance performing uppercut with left hand.</li>
      <br/>
      The wind up.<br/>
      <br/>
      <li>Pun'que to the front with right hand, bow stance.</li>
      <li>Kwan'que to the front with left hand, bow stance.</li>
      <li>Palm strike uppercut to the front with right hand, bow stance.</li>
      <li>Hands drawn in to set position, palms up, drawn feet together to the front and then double palm strike to groin (palms out), back up straight.</li>
      <li>Wrist release, and then draw hands back into set position, bow to the front.</li>

    </ol>
    <br/>
    *need to fill out the second half with more detail (exactly where the feet go and the position of the guard hand).<br/>
    <br/>
</div>